<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bookings" th:fragment="bookings" >
        <h4>One way</h4>
        <div class="details">
            <div class="detail1">
                <div class="">
                    <span>from</span>
                    <input type="text" placeholder="IDU(ABUJA)">
                </div>
                <div class="">
                    <span>to</span>
                    <input type="text" placeholder="KARU(ABUJA)">
                </div>
            </div>
            <div class="detail2">
                <div class="">
                    <span>Depart</span>
                    <input type="text" placeholder="IDU(ABUJA)">
                    <span>Saturday</span>
                </div>
                <div class="">
                    <span>Passenger</span>
                    <input type="text" placeholder="KARU(ABUJA)">
                    <span>Standard</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>