<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bookings" th:fragment="bookings" >
        <h4>One way</h4>
        <div class="details">
            <div class="detail1">
                <div class="one">
                    <span>from</span>
                    <input type="text" placeholder="IDU(ABUJA)">
                </div>
                <div class="two">
                    <span>to</span>
                    <input type="text" placeholder="KARU(ABUJA)">
                </div>
                <span class="repeat"><i class="fa-solid fa-repeat"></i></span>
            </div>
            <div class="detail2">
                <div class="">
                    <span>Depart</span>
                    <input type="text" placeholder="12, 5 2024">
                    <span>Saturday</span>
                </div>
                <div class="">
                    <span>Passenger</span>
                    <input type="text" placeholder="1 GUEST">
                    <span>Standard</span>
                </div>
            </div>
        </div>
        <div class="search-container">
            <button class="search">Search Ticket</button>
        </div>
    </div>
</body>
</html>