<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
  <link rel="stylesheet" th:href="@{/css/brands.css}">
  <link rel="stylesheet" th:href="@{/css/solid.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>mbrailway</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>

<!--contact section-->
<main>
  <div class="contact container-fluid p-4">
    <h2>Register 2</h2>

    <div class="form container col-md-8  mt-4">


      <form action="#" th:action="@{/auth/register}" th:object="${user}" method="post">
        <table>
          <tr>
            <td>UserName:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Age Error</td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Age Error</td>
          </tr>
          <tr>
            <td><button type="submit">Submit</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</main>

<!--footer section-->
<footer th:replace="fragments/footer :: footer">...</footer>

<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/solid.js}"></script>
<script type="text/javascript" th:src="@{/js/brands.js}"></script>
<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>