
.bookings{
    padding: 30px;
    margin: 30px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.bookings .details{
    display: flex;
}
.bookings .details .detail1{
    display: flex;
}
.bookings .details .detail1 div{
    display: flex;
    flex-direction: column;
}