@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "header.css";
@import "footer.css";
@import "bookings.css";
@import "register.css";
@import "timetable.css";
@import "search-result.css";
@import "legal.css";
@import "admin.css";
@import "newsletter";


:root{
  --primary-color:  rgba(209, 23, 11, 1);
  --secondary-color:  rgba(255, 255, 255, 1);
*{
box-sizing: border-box;
}
/* general styling */
body{
font-family: "Roboto Serif", serif;
margin: 0;
padding: 0;
}

main{
min-height: 50vh;

}
main a{
    text-decoration: none;
    color: inherit;
}
main a:hover{
   opacity: 0.5;
   font-weight: 700;
}

.home .welcome{
    margin: 30px;
    padding-top: 30px;
}
.home .message{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    justify-content: center;
    padding:20px;
}
.home .message .one h3{
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
}
.home .message .one p{
    font-size: 20px;
}
.home .message .two{
    height: 30vh;
}
.home .message .two img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.home .reservation-steps{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    justify-content: center;
    padding:20px;
}
.home .reservation-steps .contents h3{
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
}
.home .reservation-steps .contents .step1, .home .reservation-steps .contents .step2, .home .reservation-steps .contents .step3 {
    display: flex;
    align-items: center;
}
.home .reservation-steps .contents span{
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.home .reservation-steps .contents h6{
    font-weight: 600;
}
.home .reservation-steps .img-container{
    height: 30vh;

}
.home .reservation-steps .img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*
.cipistore .img-container{
  height: 50vh;
}
.cipistore .img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
*/

/* for contact page */
.contact-page{
   margin; 0;
   padding: 0;
}

.contact-page .hero {
    height: 20vh;
    background-image: url("/images/train.jpg");
    background-size: cover;
    position: relative;
    z-index: -2;
}
.contact-page .hero .hero-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 65, 251, 0.4);
    z-index: -1;
}
.contact-page .hero h2{
    text-align: center;
}

/* for the blog page */

.blog{
   background-image: url("/images/comingsoon.jpg");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 65vh;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.blog .return{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.blog .return a{
    background: var(--primary-color);
    color: white;
    font-weight: 700;
}




/* for medium and large screen */
@media only screen and (min-width: 768px){
/*general styling */

.home .message{
    display: grid;
    grid-template-columns: 45% 45%;
     grid-gap: 30px;
}
.home .message .two{
    height: 40vh;
}
.home .reservation-steps{
    grid-template-columns: 45% 45%;
    grid-gap: 30px;
}
.home .reservation-steps .img-container{
    height: 40vh;
}

.blog{
    height: 80vh;
}

 }
